{% extends "base.html"%}

{% block titulo %} Buscar {% endblock %}

{% block contenido %} 

<h1>Búsqueda de peliculas</h1>
<form method="post">
    {% csrf_token %}
    <div class="input-group" id="CajaBusqueda">
        <input type="search" class="form-control rounded" name="termino_busqueda" placeholder="Buscar película" aria-label="Search" aria-describedby="search-addon" />
        <button type="submit" class="btn btn-outline-primary">Buscar</button>
    </div>
</form>
<div class="row row-cols-1 row-cols-md-5 g-4">
    {% for pelicula in resultados %}
        <div class="col">
            <div class="card">
                {% if pelicula.poster_path %}
                    <a href="{% url 'detalles_pelicula' pelicula.id %}">
                        <img src="https://image.tmdb.org/t/p/w500{{ pelicula.poster_path }}" class="card-img-top" alt="{{ pelicula.title }}">
                    </a>
                {% else %}
                    <a href="{% url 'detalles_pelicula' pelicula.id %}">
                        <img src="https://img.freepik.com/vector-premium/vector-icono-imagen-predeterminado-pagina-imagen-faltante-diseno-sitio-web-o-aplicacion-movil-no-hay-foto-disponible_87543-11093.jpg" class="card-img-top" alt="Imagen Predeterminada">
                    </a>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title" id="TituloPelicula">{{ pelicula.title }}</h5>
                    <p class="card-text" id="DescripcionPelicula">{{ pelicula.overview }}</p>
                </div>
                <div class="card-footer" id="FechaPelicula">
                    <small class="text-body-secondary">{{ pelicula.release_date }}</small>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}