{% extends "base.html"%}

{% block titulo %} Buscar {% endblock %}

{% block contenido %} 


<div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-13 mb-8 mb-lg-0">
            <div class="card mb-3" id="FondoDetalles">
                <div class="row g-0">
                    <div class="col-md-4 gradient-custom text-center text-white"
                        style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                        <img src="https://image.tmdb.org/t/p/w500{{ pelicula.poster_path }}"
                        alt="{{ pelicula.title }}" class="img-fluid my-2" style="width: 360px;" id="ImagenDetalles" />
                    </div>
                    <div class="col-md-7">
                        <div class="card-body p-4">
                            <h5 id="TituloDetalles">{{ pelicula.title }} ({{ pelicula.release_date_year }}) </h5>
                            <p id="FechaGenero">{{ pelicula.release_date_formatted }}({{ pelicula.paises_produccion}}) • {{ pelicula.generos}} • {{ pelicula.horas }}h {{ pelicula.minutos }}m</p>
                            <p><button type="button" class="btn btn-primary">Calificacion <span class="badge bg-success">{{ pelicula.calificacion }}</span></button>
                                {% if pelicula.homepage %}
                                    <a href="{{ pelicula.homepage }}" class="btn btn-primary" target="_blank">
                                    Sitio web oficial
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-link" viewBox="0 0 16 16">
                                        <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
                                        <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"/>
                                    </svg></a>
                                {% endif %}
                                <div class="col-12 mt-3">
                                    <a class="btn btn-primary" href="{% url 'guardar_pelicula' pelicula.id %}">Guardar en Index</a>
                                </div>
                            </p>
                            <p id="Slogan">{{ pelicula.tagline}}</p>
                            <hr class="mb-2">
                            <div class="row pt-1">
                                <div class="col-12 mb-1">
                                    <h6 id="ResumenDetalles">Resumen</h6>
                                    <p id="Resumen">{{ pelicula.overview}}</p>
                                </div>
                            </div>
                            <hr class="mt-0 mb-3">
                            <div class="row pt-1">
                                <div class="col-6 mb-1">
                                    <h6 id="TitulosDetalles">Presupuesto</h6>
                                    <p id="DineroDetalles">{{ pelicula.presupuesto}}</p>
                                </div>
                                <div class="col-6 mb-1">
                                    <h6 id="TitulosDetalles">Ingresos</h6>
                                    <p id="DineroDetalles">{{ pelicula.ingresos}}</p>
                                </div>
                                <div class="col-6 mb-1">
                                    <h6 id="TitulosDetalles">Idioma original</h6>
                                    <p id="DineroDetalles">{{ pelicula.idioma_original}}</p>
                                </div>
                                <div class="col-6 mb-1">
                                    <h6 id="TitulosDetalles">Estado</h6>
                                    <p id="DineroDetalles">{{ pelicula.estado}}</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-start">
                                <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                                <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                                <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}