{% extends "base.html"%}

{% block titulo %} Inicio {% endblock %}

{% block contenido %} 
  <div class="p-5 bg-custom">
    <div class="container">
      <h1 class="display-3">Bienvenidos a la biblioteca de cine</h1>
      <p class="lead">Explora una amplia selección de películas, desde clásicos hasta los últimos estrenos. 
        Navega a través de nuestra colección, lee descripciones detalladas y disfruta de imágenes cautivadoras. 
        teniendo la posibilidad de agregar tus películas favoritas a tu lista personalizada  </p>
      <hr class="my-2">
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'peliculas' %}" role="button">Iniciar</a>
      </p>
    </div>
  </div>
{% endblock %}